$highlightColor: #f29d0c;
$secondaryColor: orange;
$hoverColor: blue;
$searchFontSize: 20px;
$lyricsFontSize: 31px;
$lyricsFontSizeMobile: 27px;
$gridFontSize: 42px;
$Roboto: 'Roboto', sans-serif;
$fadeDuration: 250ms ease;

// lyrics text
// highlight color
// title
// artist name
// grid switch

* {
    box-sizing: border-box;
}
body {
    background: #111111;
    margin: 0;
    transition: $fadeDuration;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $Roboto;
    background: #2c2cba;
    min-height: 100vh;
}

section {
    padding: 1%;
}



.dev-info {
    top: 0;
    position: absolute;
    color: white;
    background: #111111;
    .links-wrapper  a{
        font-size: 12px;
        position: relative;
        display: flex;
        text-align: center;
        flex-direction: row;
        padding: 6px;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
  
        * {
            margin: 0 8px;
        }
    }
}
.icon {
    background: white;
    border-radius: 100%;
    padding: 1px;
}

.lyrics {
    padding: 0.88% 8%;
    width: 100vw;
    height: 100%;
    //border: 1px solid grey;
    margin: 2.5% auto;
    min-height: 100vh;
}

.lyrics-text{
    font-family: $Roboto;
    font-size: $lyricsFontSizeMobile;
    font-weight: 700;
    line-height: 1.85em;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    transition: $fadeDuration;
    cursor: default;
    &--error {
        color: maroon;
        text-align: center;
    }
}


.view-switch {
    background: lightgrey;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    //right: 3%;
    font-size: 15px;
    margin: 0 auto;

    cursor: pointer;
    p {
        margin: 0 10px;
        text-align: center;
    }
    width: 120px;
    height: 55px;
    border-radius: 100px;
    transition: 100ms ease;
    .circle {
        border-radius: 100%;;
        height: 50px;
        width: 50px;
        position: absolute;
        background: white;
        left: 0;
        margin: 0 10px;
        box-shadow: 2px 2px 8px rgba(12, 12, 12, 0.1);
        transition: 100ms ease;
      
    }
    /*&:hover > .circle{
        transform: translateX(50px)
    }*/
}

.grid-view {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;

}
.console {
    padding: 3.66px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 12% 0;
    //opacity: 0;
    border-radius: 20px;
    box-shadow: (2px 2px 20px rgba(11, 11, 11, 0.17));
    transition: 450ms ease;
    //transform: translateX(-420px);
    &:hover {
       // transform: translateX(0);
       // opacity: 1;
    }
    header, .search-container {
        padding: 0 17px;
    }

}

.hover-div {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    height: 40vh;
    width: 45vw;
    //background: grey;
    &:hover ~ .console {
       // transform: translateX(0);
       // opacity: 1;
    }
}

.search {
    &-container {
        font-size: $searchFontSize;
        form {
            margin: 17px 0;
            font-weight: 300;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            * {
                margin: 5px 0;
          
            }
            button {
                width: 100%;
                font-size: 17.66px;
                padding: 10px;
                min-width: 150px;
                color: white;
                background: #2b2b2b;
                border: 2px solid white;
                border-radius: 20px;
                transition: background 133ms ease;
                cursor: pointer;
                &:hover {
                    background: #ababd3;
                    color: black;
                }
            }
        }
    }
    &-inputs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        input {
           min-height: 45px;
           border: 1px solid black;
           min-height: 25px;
           min-width: 255px;
           max-width: 255px;
           padding: 7.66px;
           font-size: $searchFontSize;
           color: black;
        }
    }
}

.render-container {
    margin: 8px auto;
}
.info-container {
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    cursor: default;
    h1, p{
        margin: 0 auto;
        padding: 0;
        transition: $fadeDuration;
    }
    p {
        font-family: $Roboto;
        font-weight: 700;
        letter-spacing: 0.15em;

    }
    h1 {
        width: 100%;
        font-family: $Roboto;
        font-weight: 900;
        letter-spacing: 0.03em;
        font-size: 75px;
        -webkit-text-stroke-width: 2px;
        color: transparent;
        //-webkit-text-stroke-color: $secondaryColor;
    }
}

.track-name {
    font-size: $lyricsFontSize;
    
}

.artist-name {
    font-size: $searchFontSize;
    //color: #707070
}



.keyword {
    display: inline-block;
    position: relative;
    cursor: pointer;
    img {
        max-width: 300px;
        max-height: 300px;
        border: 1.5px $highlightColor;
        display: none;
        position: absolute;
        z-index: 1;
    }
    p {
        margin: 0;
        padding: 0;
        //color: $highlightColor;
        &:hover {
        opacity: 0.42;
        ~img {
            display: inline-block;
        }
    }
    }
}

.key-gif {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
        min-width: 85vw;
        min-height: 85vw;
        max-width: 85vw;
        max-height: 85vw;
        padding: 5px;
        height: auto;
        margin: 0;
  
    }
    p{
        opacity: 0.95;
        position: absolute;
        background: $hoverColor;
        color: yellow;
        display: none;
        font-weight: 700;
        text-align: center;
        padding: 6px 4px;
        margin: 0 auto;
        font-size: $gridFontSize;
    }
    &:hover {
        img {border: 5px solid $highlightColor };
        p {display: inline-block;}

    }
}

@media (min-width: 768px)  {
    #console-section {
        align-self: flex-start;
        justify-self: start;
        position: absolute;
        top: 0;
        padding: 17.66px;
    }
    .lyrics-text {
        font-size: $lyricsFontSize;
    }
.info-container {
    margin-bottom: 50px;
    h1 {
        width: 50%;
    }
}
  .key-gif {
      img {
        min-width: 350px;
        min-height: 350px;
        max-width: 350px;
        max-height: 350px; 
      }
  }
  .view-switch {
    position: absolute;
    right: 50px;
    top: 50px;
  }
  
}