* {
  box-sizing: border-box; }

body {
  background: #2c2cba;
  margin: 0;
  transition: 250ms ease; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 3%; }

section {
  width: 100vw; }

.dev-info {
  z-index: 2;
  top: 0;
  cursor: pointer;
  position: fixed;
  color: white;
  background: #111111; }
  .dev-info .links-wrapper a {
    font-size: 12px;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: row;
    padding: 6px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: 155ms ease-in; }
    .dev-info .links-wrapper a:hover {
      background: white;
      color: black; }
    .dev-info .links-wrapper a * {
      margin: 0 8px; }

.icon {
  background: white;
  border-radius: 100%;
  padding: 1px; }

.lyrics {
  padding: 0.88% 8%;
  width: 100vw;
  height: 100%;
  margin: 2.5% auto; }

.lyrics-text {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.85em;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  transition: 250ms ease;
  cursor: default; }
  .lyrics-text--error {
    margin: 0 auto;
    color: red;
    text-align: center; }

.view-switch {
  background: lightgrey;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 15px;
  margin: 0 auto;
  cursor: pointer;
  width: 120px;
  height: 55px;
  border-radius: 100px;
  transition: 100ms ease; }
  .view-switch p {
    margin: 0 10px;
    text-align: center; }
  .view-switch .circle {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    background: white;
    left: 0;
    margin: 0 10px;
    box-shadow: 2px 2px 8px rgba(12, 12, 12, 0.1);
    transition: 100ms ease; }

.grid-view {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center; }

header {
  width: 100%;
  color: gold;
  text-align: left;
  font-size: 15px; }

.console {
  padding: 20px;
  position: relative;
  margin: 12% 0px;
  width: 100%;
  background: rgba(44, 44, 186, 0.66);
  transition: 450ms ease; }
  .console header, .console .search-container {
    padding: 0 0px; }

.hover-div {
  display: none;
  position: absolute;
  right: 0;
  top: 25%;
  padding: 0;
  margin: 0;
  height: 80px;
  width: 20px;
  background: lightgrey;
  border-radius: 20px;
  cursor: pointer; }

.search-container {
  font-size: 33px; }
  .search-container form {
    margin: 17px 0;
    font-weight: 300;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    .search-container form * {
      margin: 5px 0; }
    .search-container form button {
      width: 100%;
      font-size: 17.66px;
      padding: 10px;
      color: white;
      background: #2b2b2b;
      border: 2px solid white;
      transition: background 133ms ease;
      cursor: pointer; }
      .search-container form button:hover {
        background: #ababd3;
        color: black; }
.search-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start; }
  .search-inputs input {
    border: none;
    min-height: 45px;
    padding: 7.66px;
    width: 100%;
    font-size: 33px;
    color: #f9899c;
    background: #2C2CBA;
    box-shadow: none; }
    .search-inputs input::placeholder {
      color: #bababa; }
    .search-inputs input:focus {
      transition: color 500ms ease;
      color: #f9899c; }

.render-container {
  margin: 8px auto; }

.info-container {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  cursor: default; }
  .info-container h1, .info-container p {
    margin: 0 auto;
    padding: 0;
    transition: 250ms ease; }
  .info-container p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.15em; }
  .info-container h1 {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    letter-spacing: 0.03em;
    font-size: 18vw;
    -webkit-text-stroke-width: 2px;
    color: transparent; }

.track-name {
  font-size: 31px; }

.artist-name {
  font-size: 33px; }

.keyword {
  display: inline-block;
  position: relative;
  cursor: pointer; }
  .keyword img {
    max-width: 300px;
    max-height: 300px;
    width: 66vw;
    border: 1.5px #f29d0c;
    display: none;
    position: absolute;
    z-index: 1; }
  .keyword p {
    margin: 0;
    padding: 0; }
    .keyword p:hover {
      opacity: 0.42; }
      .keyword p:hover ~ img {
        display: inline-block; }

.key-gif {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .key-gif img {
    min-width: 85vw;
    min-height: 85vw;
    max-width: 85vw;
    max-height: 85vw;
    padding: 5px;
    height: auto;
    margin: 0;
    border-color: #f29d0c; }
  .key-gif p {
    opacity: 0.95;
    position: absolute;
    background: blue;
    color: yellow;
    display: none;
    font-weight: 700;
    text-align: center;
    padding: 6px 4px;
    margin: 0 auto;
    font-size: 42px; }
  .key-gif:hover img {
    border-width: 5px;
    border-style: solid; }
  .key-gif:hover p {
    display: inline-block; }

@media (min-width: 768px) {
  #console-section {
    align-self: flex-start;
    justify-self: start;
    position: absolute;
    top: 0;
    padding: 17.66px; }

  .console {
    cursor: default;
    border: 1px dashed #e6e6e6;
    max-width: 445px;
    padding: 3.66px;
    border-radius: 8px; }
    .console header, .console .search-container {
      padding: 0 17px; }
    .console-wrapper {
      transition: 450ms ease;
      position: fixed;
      width: 472px;
      z-index: 2; }

  .hover-div {
    display: block; }

  .lyrics-text {
    font-size: 31px; }

  .info-container {
    margin-bottom: 50px; }
    .info-container h1 {
      width: 50%;
      font-size: 75px; }

  .key-gif img {
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px; }

  .view-switch {
    position: absolute;
    right: 50px;
    top: 50px; } }

/*# sourceMappingURL=main.css.map */
